/* html styling from swyx's 100 bytes of css  */

html.main {
    max-width: 65ch;
    line-height: 1.75;
    padding: 3vw;
    max-width: 600px;
    font-size: 1.25em;
}

html.normal {
  max-width: 65ch;
  margin: auto;
  line-height: 1.75;
  padding: 3vw;
  max-width: 600px;
  font-size: 1.25em;
}
  
@font-face {
    font-family: 'printveticaregular';
    src: url('https://yihui-hu.github.io/fonts/printvetica-webfont.woff2') format('woff2'),
         url('https://yihui-hu.github.io/fonts/printvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signifier-Regular';
    src:url('https://yihui-hu.github.io/fonts/Signifier-Regular.woff') format('woff'),
        url('https://yihui-hu.github.io/fonts/Signifier-Regular.woff2') format('woff2'),
        url('https://yihui-hu.github.io/fonts/Signifier-Regular.eot'),
        url('https://yihui-hu.github.io/fonts/Signifier-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://yihui-hu.github.io/fonts/Signifier-Regular.otf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  line-height: 1.3;
}

.header {
    color: rgb(191, 191, 191);
    font-family: 'printveticaregular', Helvetica, Arial;
    font-style: bold;
    font-size: 16px;
}

p {
    color: black;
    font-family: 'Signifier-Regular', 'Times New Roman', Times, serif;
    font-size: 17px;
}

a.main {
    color: rgb(39, 86, 224);
    font-family: 'printveticaregular', Helvetica, Arial;
    font-size: 16px;
    margin-right: 2em;
    text-decoration: none
}

a.inline {
    font-family: 'Signifier-Regular', 'Times New Roman', Times, serif;
    font-size: 17px;
    text-decoration: none
}

img.grayscale {
    height: auto;
    max-width: 100%;
    filter: grayscale(100%) brightness(120%);
    border-radius: 7px;
}

img.normal {
    height: auto;
    max-width: 100%;
    border-radius: 7px;
}

figcaption {
  color: rgb(152, 152, 152);
  font-family: Helvetica, Arial;
  font-size: 16px;
  text-align: center;
}

/* code background from https://jgthms.com/web-design-in-4-minutes */

code, pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

/* tables from awsm.css */

table{
    display:inline-block;
    border-spacing:0;
    border-collapse:collapse;
    overflow-x:auto;
    max-width:100%;
    text-align:left;
    vertical-align:top;
    background:linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 0 0, linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 100% 0;
    background-attachment:scroll, scroll;
    background-size: 1px 100%, 1px 100%;
    background-repeat:no-repeat, no-repeat;
  }
  table caption{
    font-size:0.9em;
    background:white;
  }
  table td, table th{
    padding:0.35em 0.75em;
    vertical-align:top;
    font-family: 'Signifier-Regular', 'Times New Roman', Times, serif;
    font-size: 17px;
    border:1px solid #e6e6e6;
    border-top:0;
    border-left:0;
  }
  table td:first-child, table th:first-child{
    padding-left:0;
    background-image:linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
    background-size:2px 100%;
    background-repeat:no-repeat;
  }
  table td:last-child, table th:last-child{
    padding-right:0;
    border-right:0;
    background-image:linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-position:100% 0;
    background-size:2px 100%;
    background-repeat:no-repeat;
  }
  table td:only-child, table th:only-child{
    background-image:linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-position:0 0, 100% 0;
    background-size:2px 100%, 2px 100%;
    background-repeat:no-repeat, no-repeat;
  }
  table th{
    line-height:1.2;
  }
    
